<div class = "authorization">
  <div class="container">
  <h2 class = "authorization_title"> Registration</h2>
  <form class = "authorization_form" [formGroup] = "form" (ngSubmit) = "register()">
    <mat-form-field>
      <input  matInput placeholder="Username" formControlName="username">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" type= "password" class = "password">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Confirm password" formControlName="conf_password" type = "password" >
    </mat-form-field>
    <br>
    <button class = "submit" mat-raised-button color="primary" type="submit"> Register me! </button> <!-- after pressing button the ngSubmit event will be called-->
    <br>
    <button mat-raised-button color="primary" type="submit"> Sign in! </button> 
  </form>
  <!--<div class=“authorization_success_message”>{{message}}</div>-->
</div>
</div>
