
.user{
    margin-top: 15px;
    display: inline-flex;
    float:right;
}
.user_name{
    margin-right: 30px;
    margin-top: 9px;
    font-family: 'Times New Roman';
    font-weight: bold;
}
.logOut{
    margin-right: 40px;
}